@import "../../../style/var";

.orders-history {
  margin-top: $gap-xl;
  border-radius: $rounded-md;
  -webkit-border-radius: $rounded-md;
  -moz-border-radius: $rounded-md;
  -ms-border-radius: $rounded-md;
  -o-border-radius: $rounded-md;
  overflow: hidden;
  border: 1px solid silver;
  
  .orders-table {
      width: 100%;

    &__heading {
      background-color: $blue-light;
      &__item {
        padding: $gap-sm;
        text-align: center;
        border-left: 1px solid silver;
        &:last-child {
          border-left: none;
        }
      }
    }
    &__list {
      &__item {
        padding: $gap-sm;
        text-align: center;
        border: 1px solid silver;
        &:last-child {
          border-left: none;
        }
      }
    }
  }
}


@include phone-md{
    .orders-history{
        margin-top: $gap-sm;
        td{
            font-size: $font-sm;
            padding: $gap-sm 5px !important;
        }
    }
}