@import "../../style/var";

.register-container {
  @include flex(unset,center,column);
  margin: $gap-3xl;

  .alert {
    width: 400px;
    max-width: 95%;
  }

  .form-container {
    width: 400px;
    max-width: 95%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    padding: $gap-lg;
    border-radius: $rounded-lg;
    -webkit-border-radius: $rounded-lg;
    -moz-border-radius: $rounded-lg;
    -ms-border-radius: $rounded-lg;
    -o-border-radius: $rounded-lg;

    .form-title {
      margin-bottom: $gap-xl;
    }

    

    .form__links-container {
      padding-top: $gap-md;
      width: 100%;

      span {
        display: block;
        margin: $gap-sm 0;

        .form__link {
          color: $blue;
          margin-right: $gap-xs;
        }
      }
    }
  }
}
