@import "../../style/var";

.product-slider {
  margin: $gap-2xl 0;

  .container {
    padding: $gap-xxs;
    background-color: $white;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
      rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: $rounded-lg;
    -webkit-border-radius: $rounded-lg;
    -moz-border-radius: $rounded-lg;
    -ms-border-radius: $rounded-lg;
    -o-border-radius: $rounded-lg;
  }

  .heading {
    .filter-options {
      display: flex;
      margin-right: auto;
      &__item {
        margin: 0 $gap-xxs;
        padding: $gap-xxs;
        background-color: transparent;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        
        &::before {
          content: "";
          width: 7px;
          height: 7px;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          -o-border-radius: 20px;
          background-color: $primary;
          display: inline-block;
          margin-left: 5px;
          opacity: 0;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
        }

        &--active {
          color: $primary;

          &::before {
            opacity: 1;
          }
        }
      }
    }
  }

  .swiper-container {
    .swiper-slide {
      height: auto;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 45px;
    height: 65px;
    top: 40%;
    background-color: $light;
    color: $text;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    &::after {
      font-size: $font-2xl;
    }
    &:hover {
      color: $black;
    }
  }
  .swiper-button-prev {
    right: 0;
    border-radius: $rounded-md 0 0 $rounded-md;
    -webkit-border-radius: $rounded-md 0 0 $rounded-md;
    -moz-border-radius: $rounded-md 0 0 $rounded-md;
    -ms-border-radius: $rounded-md 0 0 $rounded-md;
    -o-border-radius: $rounded-md 0 0 $rounded-md;
  }
  .swiper-button-next {
    left: 0;
    border-radius: 0 $rounded-md $rounded-md 0;
    -webkit-border-radius: 0 $rounded-md $rounded-md 0;
    -moz-border-radius: 0 $rounded-md $rounded-md 0;
    -ms-border-radius: 0 $rounded-md $rounded-md 0;
    -o-border-radius: 0 $rounded-md $rounded-md 0;
  }

  &--sale {
    padding-bottom: $gap-sm;
    background-color: $green !important;
    background-image: url(../../assets/images/utilities/texture.png);
    background-size: contain;
    .heading__title {
      color: $white-shade;
    }
  }
}
