@import "../../style/var";

.product-slider {
  margin: $gap-2xl 0;

  .container {
    padding: $gap-xxs;
    background-color: $white;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
      rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: $rounded-lg;
    -webkit-border-radius: $rounded-lg;
    -moz-border-radius: $rounded-lg;
    -ms-border-radius: $rounded-lg;
    -o-border-radius: $rounded-lg;
  }

  .heading {
    .filter-options {
      display: flex;
      margin-right: auto;
    }
    .seeMore-link{
      font-size: $font-sm;
      color: $blue;
      margin-right: auto;
      .icon{
        margin-right:5px;
      }
    }
  }

  .swiper-container {
    .swiper-slide {
      height: auto;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
      rgb(209, 213, 219) 0px 0px 0px 1px inset;
    width: 45px;
    height: 65px;
    top: 40%;
    background-color: $light;
    color: $text;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    &::after {
      font-size: $font-2xl;
    }
    &:hover {
      color: $black;
    }
  }
  .swiper-button-prev {
    right: 0px;
    border-radius: $rounded-lg 0 0 $rounded-lg;
    -webkit-border-radius: $rounded-lg 0 0 $rounded-lg;
    -moz-border-radius: $rounded-lg 0 0 $rounded-lg;
    -ms-border-radius: $rounded-lg 0 0 $rounded-lg;
    -o-border-radius: $rounded-lg 0 0 $rounded-lg;
  }
  .swiper-button-next {
    left: 0;
    border-radius: 0 $rounded-lg $rounded-lg 0;
    -webkit-border-radius: 0 $rounded-lg $rounded-lg 0;
    -moz-border-radius: 0 $rounded-lg $rounded-lg 0;
    -ms-border-radius: 0 $rounded-lg $rounded-lg 0;
    -o-border-radius: 0 $rounded-lg $rounded-lg 0;
  }

  &--sale {
    padding-bottom: $gap-sm;
    background-color: $green !important;
    background-image: url(../../assets/images/utilities/texture.png);
    background-size: contain;
    .heading__title {
      color: $white-shade;
    }
  }
}
