@import '../../style/var';

.blank-page{
    @include flex(center,center,column);
    padding: $gap-lg $gap-sm;

    .image__container{
        margin-bottom: $gap-md;
        .image{
            width: 125px;
        }
    }

    .text__container{
        .text{
            font-size: $font-lg;
            color: $black;
            font-weight: bold;
            text-align: center;
        }
        .button-container{
            display: flex;
            justify-content: space-between;
            margin-top: $gap-md;
        }
    }
}