@import "../../../style/var";

.top-header {
  padding: $gap-md 0;

  &__row {
    @include flex(space-between, center);

    /* ---------------------------- header searchbar ---------------------------- */
    .searchbar-container {
      position: relative;
      max-width: 450px;
      width: 100%;
      overflow: hidden;
      border-radius: $rounded-lg;
      -webkit-border-radius: $rounded-lg;
      -moz-border-radius: $rounded-lg;
      -ms-border-radius: $rounded-lg;
      -o-border-radius: $rounded-lg;
      .searchbar-form {
        #search-input {
          background-color: $light;
          height: 45px;
          width: 100%;
          padding: 0 15px;
          font-size: $font-sm;
        }
      }
      .searchbar-button {
        @include flex();
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        padding: 0 15px;
        cursor: pointer;
        background-color: transparent;

        .search-icon {
          font-size: $font-lg;
          color: $text;
        }
      }
    }
    /* ----------------------------- header widgets ----------------------------- */
    .widgets-container {
      display: flex;
      align-items: center;

      .contact-info {
        font-size: 14px;
        text-align: center;
        margin: 0 $gap-xs;
        &__text {
          color: $text;
          display: block;
          .phone-icon {
            font-size: $font-lg;
            margin-left: $gap-xxs;
          }
        }
        .phone-link__text {
          font: 14px $yekan;
          font-weight: bold;

          margin-top: $gap-xxs;
          display: block;
          text-align: center;
          direction: ltr;
        }
      }
      .widget-button {
        @include flex();
        background-color: $white-shade;
        padding: $gap-xxs;
        border: 1px solid lighten($text, 50%);
        width: 35px;
        height: 35px;
        border-radius: $rounded-md;
        -webkit-border-radius: $rounded-md;
        -moz-border-radius: $rounded-md;
        -ms-border-radius: $rounded-md;
        -o-border-radius: $rounded-md;
        margin: 0 $gap-xxs;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        color: $text;
        &:hover {
          box-shadow: 0 0 5px lighten($black, 85%);
        }
      }
      .cart-button {
        position: relative;
        &__amount {
          text-align: center;
          background-color: $yellow;
          color: $black;
          font-size: 10px;
          width: 16px;
          height: 16px;
          line-height: 18px;
          position: absolute;
          top: -3px;
          right: -3px;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          -o-border-radius: 3px;
        }
      }

      .login-button--dashboard {
        position: relative;

        .dashboard-dropdown__container {
          width: max-content;
          background-color: $white-shade;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          padding: $gap-sm $gap-md;
          position: absolute;
          top: 130%;
          left: 50%;
          border-radius: $rounded-md;
          -webkit-border-radius: $rounded-md;
          -moz-border-radius: $rounded-md;
          -ms-border-radius: $rounded-md;
          -o-border-radius: $rounded-md;
          z-index: $z-max;
          cursor: default;
          transform: translate(-50%, 15px);
          -webkit-transform: translate(-50%, 15px);
          -moz-transform: translate(-50%, 15px);
          -ms-transform: translate(-50%, 15px);
          -o-transform: translate(-50%, 15px);
          
          .dashboard-dropdown__item {
            display: flex;
            align-items: center;
            padding: $gap-xxs $gap-sm;
            margin-bottom: $gap-xxs;
            font-size: $font-sm;
            border-radius: $rounded-sm;
            -webkit-border-radius: $rounded-sm;
            -moz-border-radius: $rounded-sm;
            -ms-border-radius: $rounded-sm;
            -o-border-radius: $rounded-sm;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;

            .icon {
              font-size: $font-lg;
              margin-left: $gap-xs;
            }
            &:hover {
              color: $blue;
              background-color: $light;
            }
          }

          .logout-button {
            cursor: pointer;
            color: $red;

            &:hover {
              color: $red;
              background-color: lighten($red-light, 7%);
            }
          }
        }
      }

      .search-button--r,
      .menu-button--r {
        width: 35px;
        height: 35px;
        cursor: pointer;
        margin: 0 $gap-xxs;
        background-color: transparent;
        font-size: $font-sm;
        border-radius: $rounded-md;
        -webkit-border-radius: $rounded-md;
        -moz-border-radius: $rounded-md;
        -ms-border-radius: $rounded-md;
        -o-border-radius: $rounded-md;
        transition: background-color 0.3s ease;
        -webkit-transition: background-color 0.3s ease;
        -moz-transition: background-color 0.3s ease;
        -ms-transition: background-color 0.3s ease;
        -o-transition: background-color 0.3s ease;
        display: none;
        background-color: $white-shade;
        border: 1px solid darken($light, 10%);
        &:hover {
          box-shadow: 0 0 5px lighten($black, 85%);
        }
      }
    }
  }
}

/* ------------------------------- responsive ------------------------------- */

@include desktop-sm {
  .top-header {
    .searchbar-container {
      display: none;
    }
    .widgets-container {
      .search-button--r,
      .menu-button--r {
        display: block;
      }
      .contact-info {
        display: none;
      }
    }
  }
}

@include phone-md {
  .top-header {
    .logo-container {
      max-width: 90px;
    }
  }
}
