@import "../../style/var";

.product-card {
  background-color: $white;
  padding: $gap-sm;
  height: 100%;
  border: 0.5px solid rgba($color: $text, $alpha: 0.1);
  border-radius: $rounded-md;
  -webkit-border-radius: $rounded-md;
  -moz-border-radius: $rounded-md;
  -ms-border-radius: $rounded-md;
  -o-border-radius: $rounded-md;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;

  .product__image-container {
    position: relative;
    .product__image {
      min-height: 245px;
    }
    .product__discount-badge {
      position: absolute;
      background-color: $green;
      box-shadow: 0 0 10px $green-light;
      border-radius: $rounded-sm;
      -webkit-border-radius: $rounded-sm;
      -moz-border-radius: $rounded-sm;
      -ms-border-radius: $rounded-sm;
      -o-border-radius: $rounded-sm;
      padding: 1px $gap-xs;
      font-size: $font-md;
      color: $white;
      top: 3px;
      left: 3px;
    }
  }

  .product__details {
    .product__name {
      font-size: $font-sm;
      margin-bottom: $gap-sm;
    }

    .product__price-container {
      padding: $gap-xxs 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .product__old-price {
        margin-bottom: $gap-xxs;
        font-size: $font-sm;
        text-decoration: line-through;
      }
      .product__price {
        color: $black;
      }
    }
  }

  &:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }
}

.product-card-skeleton{
  border: 1px solid rgba($color: $text, $alpha: 0.1);
  border-radius: $rounded-md;
  -webkit-border-radius: $rounded-md;
  -moz-border-radius: $rounded-md;
  -ms-border-radius: $rounded-md;
  -o-border-radius: $rounded-md;
  transition: all 0.3s ease;
  background-color: $white;
  padding: $gap-sm;
  margin: 0;

  .skeleton-image{
    width: 100%;
    height: 280px;
    margin: 0 auto;
  }
  .skeleton-title{
    width: 65%;
    height: 15px;
    margin: $gap-sm 0;
  }
  .skeleton-price{
    width: 35%;
    height: 15px;
    margin-right: auto;
  }

  .skeleton-image,.skeleton-title,.skeleton-price{
    background-color: $skeleton;
    animation: skeleton 1s infinite alternate;
    -webkit-animation: skeleton 1s infinite alternate;
    display: block;
  }
}
