@import '../../style/var';


.navigation{
    margin-top: $gap-lg;

    &__link{
        height: 35px;
        color: $text;
        margin-left: $gap-lg;
        font-size: $font-sm;
        .dropdown-icon{
            font-size: $font-xs;
            margin-right: $gap-xxs;
        }
        &--mega{
            cursor: default;
        }
        &--dropdown{
            position: relative;
        }
    }
}

@include desktop-sm{
    .navigation{
        display: none;
    }
}