@import "../../style/var";

.alert {
  position: relative;
  width: 450px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: $white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: $rounded-lg;
  -webkit-border-radius: $rounded-lg;
  -moz-border-radius: $rounded-lg;
  -ms-border-radius: $rounded-lg;
  -o-border-radius: $rounded-lg;
  padding: $gap-sm $gap-md;
  
  &__icon-container {
    .alert-icon {
      font-size: $font-4xl;
      margin-left: $gap-sm;
      &--warning {
        color: $yellow;
      }
      &--error {
        color: $red;
      }
      &--info {
        color: $blue;
      }
      &--success {
        color: $green;
      }
    }
  }

  .alert__text-container {
    margin: $gap-xs 0;
    .alert__title {
      display: block;
      color: $black;
      font-size: $font-lg;
    }

    .alert__message {
      color: $text;
    }
  }
  &__close-button {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: $font-xl;
    cursor: pointer;
  }

  &__button{
    // display: block;
    margin-right: auto;
    padding:$gap-xxs $gap-md;
    border-radius: $rounded-sm;
    -webkit-border-radius: $rounded-sm;
    -moz-border-radius: $rounded-sm;
    -ms-border-radius: $rounded-sm;
    -o-border-radius: $rounded-sm;
    background-color: $green;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    color: $white;

    &:hover{
      background-color: darken($green,10%);
    }
}
}

.alert--warning {
  border-right: 7px solid $yellow !important;
}
.alert--success {
  border-right: 7px solid $green !important;
}
.alert--info {
  border-right: 7px solid $blue !important;
}
.alert--error {
  border-right: 7px solid $red !important;
}

@include phone-md{
  .alert{
    max-width: 95%;
  }
}
