@import "../../style/var";

.header {
  background-color: $white;
  border-bottom: 2px  solid $light;
  z-index: $z-50;
  position: relative;

  &--sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
}

@include desktop-sm {
  .header {
    padding: $gap-xxs 0;
  }
}
