@import "./var.scss";

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $shadow;
  opacity: 0;
  z-index: -1;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  &--mega-dropdown {
    z-index: $z-20;
    opacity: 1;
  }
  &--active {
    opacity: 1;
    z-index: $z-max;
  }
}

// dropdown animation
.slide-down--deactive {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1);
  -webkit-transition: max-height 1s cubic-bezier(0, 1, 0, 1);
  -moz-transition: max-height 1s cubic-bezier(0, 1, 0, 1);
  -ms-transition: max-height 1s cubic-bezier(0, 1, 0, 1);
  -o-transition: max-height 1s cubic-bezier(0, 1, 0, 1);
}
.slide-down--active {
  max-height: 2000px;
  transition: max-height 1s ease-in-out;
  -webkit-transition: max-height 1s ease-in-out;
  -moz-transition: max-height 1s ease-in-out;
  -ms-transition: max-height 1s ease-in-out;
  -o-transition: max-height 1s ease-in-out;
}

// react toastify style
.Toastify__toast {
  font-family: $yekan;
}

.heading {
  display: flex;
  align-items: center;
  padding: $gap-md;
  &__title {
    color: $black;
    display: inline-block;
  }
}

.heading-icon {
  font-size: $font-2xl;
  margin-left: $gap-xs;
  &--gold {
    color: $yellow;
  }
  &--blue {
    color: $blue;
  }
}

// gif animation while fetching data from server
.fetch-loading-gif {
  max-width: 160px;
  display: block;
  margin: 0 auto;
}
