@import "./var.scss";

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $shadow;
  opacity: 0;
  z-index: -1;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  &--mega-dropdown {
    z-index: $z-20;
    opacity: 1;
  }
  &--active {
    opacity: 1;
    z-index: $z-max;
  }
}

// dropdown animation
.slide-down--deactive {
 max-height: 0;
 overflow: hidden;
 transition: all 0.6s;
 -webkit-transition: all 0.6s;
 -moz-transition: all 0.6s;
 -ms-transition: all 0.6s;
 -o-transition: all 0.6s;
}
.slide-down--active {
 max-height: 9999px;
 overflow: visible;

}

// slide-up animation
.slide-up--deactive {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transform: translate(-50%, 15px);
  -webkit-transform: translate(-50%, 15px);
  -moz-transform: translate(-50%, 15px);
  -ms-transform: translate(-50%, 15px);
  -o-transform: translate(-50%, 15px);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.slide-up--active {
  z-index: $z-10;
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}

// react toastify style
.Toastify__toast {
  font-family: $yekan;
}

.heading {
  display: flex;
  align-items: center;
  padding: $gap-md;
  &__title {
    color: $black;
    display: inline-block;
  }
}

.heading-icon {
  font-size: $font-2xl;
  margin-left: $gap-xs;
  &--gold {
    color: $yellow;
  }
  &--blue {
    color: $blue;
  }
  &--green {
    color: $green;
  }
  &--white {
    color: $white;
  }
  &--red {
    color: $red;
  }
}

// gif animation while fetching data from server
.fetch-loading-gif {
  max-width: 160px;
  display: block;
  margin: 0 auto;
  border-radius: $rounded-md;
  -webkit-border-radius: $rounded-md;
  -moz-border-radius: $rounded-md;
  -ms-border-radius: $rounded-md;
  -o-border-radius: $rounded-md;
}


