@import "./var.scss";

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $shadow;
  opacity: 0;
  z-index: -1;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  &--mega-dropdown {
    z-index: $z-20;
    opacity: 1;
  }
  &--active {
    opacity: 1;
    z-index: $z-max;
  }
}

// dropdown animation
.slide-down--deactive {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.slide-down--active {
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  max-height: 9999px;
  overflow: visible;
}

// slide-up animation
.slide-up--deactive {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transform: translate(-50%, -15px);
  -webkit-transform: translate(-50%, -15px);
  -moz-transform: translate(-50%, -15px);
  -ms-transform: translate(-50%, -15px);
  -o-transform: translate(-50%, -15px);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.slide-up--active {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  z-index: $z-10;
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0) !important;
  -webkit-transform: translate(-50%, 0) !important;
  -moz-transform: translate(-50%, 0) !important;
  -ms-transform: translate(-50%, 0) !important;
  -o-transform: translate(-50%, 0) !important;
}

// react toastify style
.Toastify__toast {
  font-family: $yekan !important;
}

.heading {
  display: flex;
  align-items: center;
  padding: $gap-md;
  &__title {
    color: $black;
    display: inline-block;
  }
}

.heading-icon {
  font-size: $font-2xl;
  margin-left: $gap-xs;
  &--gold {
    color: $yellow;
  }
  &--blue {
    color: $blue;
  }
  &--green {
    color: $green;
  }
  &--white {
    color: $white;
  }
  &--red {
    color: $red;
  }
  &--primary {
    color: $primary;
  }
}

// gif animation while connecting server
.loading-container {
  display: flex;
  justify-content: center;
  padding: $gap-lg 0;
}

.ref-link {
  margin: 0 2px;
  color: $blue;
  font-weight: bold;
  padding: 1px 5px;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  border-radius: $rounded-sm;
  -webkit-border-radius: $rounded-sm;
  -moz-border-radius: $rounded-sm;
  -ms-border-radius: $rounded-sm;
  -o-border-radius: $rounded-sm;

  &:hover {
    color: $blue;
    background-color: rgba($color: $blue-light, $alpha: 0.5);
  }
}

.heading-after {
  display: inline-block;
  margin-bottom: $gap-sm;

  &::after {
    content: "";
    display: block;
    margin-top: $gap-xs;
    width: 70%;
    height: 2.5px;
    background-color: $primary;
  }
}


.form {
  width: 100%;

  .form-group {
    margin-bottom: $gap-lg;

    label {
      display: block;
      margin-bottom: $gap-xs;
    }

    .form-input {
      font: $font-sm  $yekan;
      width: 100%;
      direction: ltr;
      background-color: $light;
      padding:$gap-sm;
      border-radius: $rounded-sm;
      -webkit-border-radius: $rounded-sm;
      -moz-border-radius: $rounded-sm;
      -ms-border-radius: $rounded-sm;
      -o-border-radius: $rounded-sm;
    }

    .error-container {
      color: $red;
      display: block;
      margin-top: $gap-xs;
    }

    &--password {
      position: relative;

      .show-password-button {
        font-size: $font-lg;
        cursor: pointer;
        position: absolute;
        top: 38px;
        right: 10px;
      }
    }
  }

  .form-submit {
    width: 100%;
    background-color: $primary-tint;
    color: $white;
    padding: $gap-xs $gap-sm;
    margin-top: $gap-sm;
    border-radius: $rounded-sm;
    -webkit-border-radius: $rounded-sm;
    -moz-border-radius: $rounded-sm;
    -ms-border-radius: $rounded-sm;
    -o-border-radius: $rounded-sm;
    transition: background-color 0.4s ease;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -ms-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;

    &:disabled{
      background-color: $light;
      color:$black;
      cursor: not-allowed;
    }

    &:hover:not(&:disabled) {
      background-color: $primary;
    }
  }
}

@keyframes skeleton {
  to {
    opacity: 0.5;
  }
}
