@import "../../../style/var";

.mobile-navigation {
  overflow: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $white;
  padding: $gap-xl;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  &__heading {
    display: flex;
    justify-content: space-between;
    .close-icon {
      font-size: $font-3xl;
      color: $red;
      cursor: pointer;
    }
  }
  &__links-container {
    margin-top: $gap-xl;
    .mobile-navigation__link {
      @include flex(space-between, center);
      padding: $gap-sm 0;
      font-weight: bold;
      border-bottom: 1px solid lightgray;

      &--mega,
      &--dropdown {
        cursor: default;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    .category__title{
      cursor: default !important;
    }
    .dropdown-icon__container {
      margin-right: auto;
      text-align: center;
      line-height: 25px;
      width: 25px;
      height: 25px;
      border-radius: $rounded-sm;
      -webkit-border-radius: $rounded-sm;
      -moz-border-radius: $rounded-sm;
      -ms-border-radius: $rounded-sm;
      -o-border-radius: $rounded-sm;
      background-color: $light;
      cursor: pointer;
      color: $black;
    }
  }
  &--active {
    opacity: 1;
    z-index: $z-max;
    visibility: visible;
  }
}
