@import "../../style/var";

.checkbox-container {
  display: flex;
  align-items: center;
  width: max-content;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  margin-bottom: $gap-xs;
  cursor: pointer;
  padding: 2px $gap-sm;
  border-radius: $rounded-md;
  -webkit-border-radius: $rounded-md;
  -moz-border-radius: $rounded-md;
  -ms-border-radius: $rounded-md;
  -o-border-radius: $rounded-md;

  .custom-checkbox {
    cursor: pointer;
  }

  .label-text {
    margin-right: $gap-xs;
    text-align: left;
    display: inline-block;

    .icon-container {
      font-size: $font-2xl;
      margin-left: $gap-sm;
    }
  }
  .additional-content {
    margin-right: auto;
  }

  &--checked {
    color: $black;
    background-color: lighten($blue-light, 10%);
  }

  &--full-width {
    border-radius: $rounded-sm;
    -webkit-border-radius: $rounded-sm;
    -moz-border-radius: $rounded-sm;
    -ms-border-radius: $rounded-sm;
    -o-border-radius: $rounded-sm;
  
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 0;
    width: 100%;
    border-bottom: 2px solid $light;
    display: flex;
    padding: $gap-md $gap-xs;
   

    &:last-child {
      border-bottom: none;
    }

    &--checked {
      background-color: $light;
      color: $black;
      .label-text {
        color: $black;
      }
    }
  }
}

@include tablet-sm {
  .checkbox-container {
    &--time-picker {
      .label-text {
        font-size: $font-sm;
      }
      small {
        font-size: $font-xs;
      }
    }
  }
}
