@import "../../style/var";

.checkbox-container {
  display: flex;
  align-items: center;
  width: max-content;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  margin-bottom: $gap-xs;
  cursor: pointer;
  padding: 2px $gap-sm;
  border-radius: $rounded-md;
  -webkit-border-radius: $rounded-md;
  -moz-border-radius: $rounded-md;
  -ms-border-radius: $rounded-md;
  -o-border-radius: $rounded-md;

  .custom-checkbox {
    cursor: pointer;
  }

  .label-text {
    margin-right: $gap-xs;
    text-align: left;
    display: inline-block;
  }
  .additional-content {
    margin-right: auto;
  }

  &--checked {
    color: $black;
    background-color: lighten($blue-light, 10%);
  }

  &--time-picker {
    margin-bottom: 0;
    width: 100%;
    border-bottom: 2px solid $light;
    display: flex;
    padding: $gap-md $gap-xs;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

    &:last-child {
      border-bottom: none;
    }

    &--checked {
      color: $black;
      .label-text{
        color: $black;
      }
    }
  }
}

@include tablet-sm{
  .checkbox-container{
    &--time-picker{
      .label-text{
        font-size: $font-sm;
      }
      small{
        font-size: $font-xs;
      }
    }
  }
}
