@import "../../../../style/var";

.shipping__header {
  @include flex(center, center, column);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: $white;
  padding: $gap-lg 0;
  border-radius: $rounded-md;
  -webkit-border-radius: $rounded-md;
  -moz-border-radius: $rounded-md;
  -ms-border-radius: $rounded-md;
  -o-border-radius: $rounded-md;

  .steps-container {
    margin-top: $gap-xl;
    width: 100%;

    .steps {
      display: flex;
      justify-content: space-between;
      min-width: 290px;
      max-width: 600px;

      margin: 0 auto;

      .step-option {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);

        &::before {
          content: "";
          position: absolute;
          top: 35%;
          right: 50%;
          transform: translateY(-65%);
          -webkit-transform: translateY(-65%);
          -moz-transform: translateY(-65%);
          -ms-transform: translateY(-65%);
          -o-transform: translateY(-65%);
          width: 100%;
          height: 4px;
          background-color: $light;
        }

        &:last-child {
          &::before {
            display: none;
          }
        }

        &__link {
          @include flex(center, center, column);
          position: relative;
        }

        &__icon-container {
          background-color: $white;
          @include flex();
          position: relative;
          font-size: $font-2xl;
          border-radius: $rounded-full;
          -webkit-border-radius: $rounded-full;
          -moz-border-radius: $rounded-full;
          -ms-border-radius: $rounded-full;
          -o-border-radius: $rounded-full;
          border: 4px solid $light;
          width: 55px;
          height: 55px;
          margin-bottom: $gap-xs;
        }

        &--done {
          opacity: 0.8;
          .step-option__icon-container {
            border: 4px solid $green;
            background-color: $green-light;
            color: $black;
          }
        }

        &--active {
          .step-option__icon-container {
            border: 4px solid $primary-shade;
            background-color: $primary;
            color: $white;
            transform: scale(1.3);
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
            -o-transform: scale(1.3);
          }
          .step-option__text {
            color: $black;
            font-size: $font-lg;
            margin-top: $gap-xs;
          }
        }

        &--disabled {
          pointer-events: none;
        }
      }
    }
  }
}
