@import "../../../style/var";

.categories {
  padding: $gap-md 0;
  margin: $gap-lg 0;

  .container{
    background-color: $white;
    border-radius: $rounded-md;
    -webkit-border-radius: $rounded-md;
    -moz-border-radius: $rounded-md;
    -ms-border-radius: $rounded-md;
    -o-border-radius: $rounded-md;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

  &__heading {
    justify-content: center;
    margin-bottom: $gap-md;
  }
  &__row {
    padding:$gap-xs 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    .category-item {
      @include flex(unset, center, column);
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      border-radius: $rounded-md;
      -webkit-border-radius: $rounded-md;
      -moz-border-radius: $rounded-md;
      -ms-border-radius: $rounded-md;
      -o-border-radius: $rounded-md;
      padding: $gap-sm 0;

      .category__image-container {
        width: 85px;
        height: 85px;
        padding: $gap-sm;
        border-radius: $rounded-sm;
        -webkit-border-radius: $rounded-sm;
        -moz-border-radius: $rounded-sm;
        -ms-border-radius: $rounded-sm;
        -o-border-radius: $rounded-sm;
        background-color: lighten($light,3%);
        display: flex;
        justify-content: center;

        .category__image {
          transition: transform 0.3s ease;
          -webkit-transition: transform 0.3s ease;
          -moz-transition: transform 0.3s ease;
          -ms-transition: transform 0.3s ease;
          -o-transition: transform 0.3s ease;
        }
      }

      .category__title {
        margin-top: $gap-xs;
        max-width: 95%;
        text-align: center;
        transition: color 0.3s ease;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -ms-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
      }

      &:hover {
        background-color: lighten($light,3%);

        .category__title {
          color: $black;
        }
      }

      &:last-child {
        border-left: none;
      }
    }
  }
}

@include desktop-sm {
  .categories {
    &__row {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;
    }
  }
}

@include phone-md {
  .categories {
    &__row {
      grid-template-columns: repeat(3, 1fr);
      .category-item {
        .category__image {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
