@import "../../../style/var";

.categories {
  padding: $gap-md 0;
  margin: $gap-lg 0;

  &__heading {
    justify-content: center;
    margin-bottom: $gap-md;
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border-radius: $rounded-md;
    overflow: hidden;
    -webkit-border-radius: $rounded-md;
    -moz-border-radius: $rounded-md;
    -ms-border-radius: $rounded-md;
    -o-border-radius: $rounded-md;
    
    border: 1px solid rgba($color: $text, $alpha: 0.1);

    .category-item {
      @include flex(unset, center, column);
      border-left: 1px solid rgba($color: $text, $alpha: 0.1);
      
      padding: $gap-sm 0;
      
      .category__image {
        width: 70px;
        height: 70px;
      }

      .category__title {
        text-align: center;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
      }
      &:hover .category__title {
        color: $primary;
      }

      &:last-child{
        border-left: none;
      }
    }
  }
}

@include desktop-sm {
  .categories {
    &__row {
      grid-template-columns: repeat(4, 1fr);
      .category-item{
        border-bottom: 1px solid rgba($color: $text, $alpha: 0.1);
      }
    }
  }
}

@include phone-md {
  .categories {
    &__row {
      .category-item {
        .category__image {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
