@import "../../../style/var";

.navigation {
  &--hidden {
    display: none;
  }

  &__link {
    height: 35px;
    color: $text;
    margin-left: $gap-lg;
    font-size: 14px;
    display: inline-flex;
    align-items: center;

    .dropdown-icon {
      font-size: $font-xs;
      margin-right: $gap-xxs;
      line-height: 35px;
    }
    &--mega {
      cursor: default;
      position: static;

      &::after {
        content: "";
        width: 1.5px;
        height: 45%;
        background-color: silver;
        margin-right: $gap-lg;
      }
    }

    &--dropdown {
      cursor: default;
      position: relative;
    }

    &:hover{
      color: $black;
    }
  }

  #indicator {
    pointer-events: none;
    position: absolute;
    opacity: 0;
    bottom: 0;
    width: 0;
    height: 2.5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: $primary-shade;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }
}

@include desktop-sm {
  .navigation {
    display: none;
  }
}
