@import "../../../style/var";

.navigation {
  overflow: visible;
  max-height: 2000px;
  transition: all 700ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition: all 700ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: all 700ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -ms-transition: all 700ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: all 700ms cubic-bezier(0.55, 0.055, 0.675, 0.19);

  &--hidden {
    max-height: 0;
    overflow: hidden;
    transition: all 700ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transition: all 700ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 700ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-transition: all 700ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: all 700ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &__link {
    height: 35px;
    color: $text;
    margin-left: $gap-lg;
    font-size: $font-sm;
    display: inline-flex;
    align-items: center;

    .dropdown-icon {
      font-size: $font-xs;
      margin-right: $gap-xxs;
      line-height: 35px;
    }
    &--mega {
      cursor: default;
      position: static;

      &::after{
        content: '';
        width: 1.5px;
        height: 40%;
        background-color: silver;
        margin-right: $gap-lg;
      }
    }
    &--dropdown {
      position: relative;
      cursor: default;
    }
  }

  #indicator {
    position: absolute;
    opacity: 0;
    bottom: 0;
    width: 0;
    height: 2.5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: $primary-shade;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }
}

@include desktop-sm {
  .navigation {
    display: none;
  }
}
