@import "../../../style/var";

.banners {
  padding: $gap-md 0;
  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    .banner {
      border-radius: $rounded-lg;
      -webkit-border-radius: $rounded-lg;
      -moz-border-radius: $rounded-lg;
      -ms-border-radius: $rounded-lg;
      -o-border-radius: $rounded-lg;
      overflow: hidden;

      &__image {
        width: 100%;
      }
    }

    .banner-skeleton {
      border-radius: $rounded-lg;
      -webkit-border-radius: $rounded-lg;
      -moz-border-radius: $rounded-lg;
      -ms-border-radius: $rounded-lg;
      -o-border-radius: $rounded-lg;
      min-height: 270px;
      background-color:$skeleton;
      animation: skeleton 1s infinite alternate;
      -webkit-animation: skeleton 1s infinite alternate;
    }
  }
}

@include phone-md {
  .banners {
    &__row {
      grid-template-columns: 1fr;
    }
  }
}
